
<div class="login main-container">
    <form class="custom-form" [formGroup]="form">
      <div class="custom-form-header">
        <app-alert-danger [message]="message" *ngIf="message != null" ></app-alert-danger>
      </div>
  
      <h3>Iniciar Sesión</h3>
      <input
        type="text"
        name="user"
        placeholder="Usuario"
        required="required"
        formControlName="user"
      />
      <input
        type="password"
        name="password"
        placeholder="Contraseña"
        required="required"
        formControlName="password"
      />
      <button type="submit" (click)="login()">Ingresar</button>
    </form>
  </div>
  