<div class="container custom-box">
    <div class="row-fluid">
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Status</th>
                    <th scope="col">SQL Conn</th>
                    <th scope="col">OPC Conn</th>
                    <th scope="col">Node Id</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let service of services">
                    <th scope="row">{{service.name}}</th>
                    <td><div [class]="service.status.toLowerCase()">{{service.status}}</div></td>
                    <td><div [class]="service.sqlConnStatus.toLowerCase()">{{service.sqlConnStatus}}</div></td>
                    <td><div [class]="service.opcConnStatus.toLowerCase()">{{service.opcConnStatus}}</div></td>
                    <td>{{service.nodeId}}</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>

</div>