.ok{
    color: white;
    text-align: center;
    border: 1px solid green;
    border-radius: 20px;
    background-color: rgb(108, 212, 108);
}

.error{
    color: white;
    text-align: center;
    border: 1px solid red;
    border-radius: 20px;
    background-color: rgb(180, 99, 99);
}

.custom-box {
    min-width: 350px;
    max-width: 50%;
    margin: 0px auto;
    background: rgba(255, 255, 255, 0.15);
    padding: 2rem 3rem;
    margin: auto;
    border-radius: 0rem;
    background-color: #ecf0f3;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
    color: black;
    margin-top: 3rem;
}